p {font-family: sans-serif; font-weight: normal; color: black; font-smooth:  auto; -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; line-height: 1.3;}
ul {list-style-type: square; font-family: sans-serif; font-weight: normal; color: black; font-smooth:  auto; -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; line-height: 1.3;}
ul li:first-child {margin-top: 0px; margin-left: 5px; line-height: 1.3; }
ul li {margin-top: 7px; margin-left: 5px; line-height: 1.3; }
ul li:last-child {margin-bottom: 35px; margin-left: 5px; line-height: 1.3; }
h1 {font-family: "Courier New", courier, monospace; color: black; font-weight: normal; text-decoration: none; text-align: center; letter-spacing: 2px; font-smooth:  auto; -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}
h3 {font-variant: small-caps; font-family: sans-serif; color: black; font-weight: normal; text-decoration: none; letter-spacing: 2px; border-bottom: .15em solid black; font-smooth:  auto; -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}
a:link {color: blue; text-decoration: none; border-bottom: 2px solid blue; font-family: sans-serif; font-weight: normal; font-smooth:  auto; -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}
a:visited {color: blue; text-decoration: none; border-bottom: 2px solid blue; font-family: sans-serif; font-weight: normal;font-smooth:  auto; -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}
a:hover {color: blue; text-decoration: none; border-bottom: 1px solid blue; font-family: sans-serif; font-weight: normal;font-smooth:  auto; -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}
a:active {color: blue; text-decoration: none; border-bottom: 1px solid blue; font-family: sans-serif; font-weight: normal;font-smooth:  auto; -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}