---
---

@import "{{ site.theme }}";
ul {
  list-style-type: square;
  margin-left: 0px;
}
ul li:first-child {
    margin-top:0;
}
ul li {
  margin-top: 25px;
}
h1 {
  font-family: Futura, Helvetica, Arial, sans-serif;	
}
p {
  font-family: Noto Sans, Helvetica, Arial, sans-serif;
}
